<div id="comparison-sidebar" class="comparison_sidebar collapsed container" data-bind="visible: visible" style="display: none">
    <a href="#" class="sidebar_toggle_btn collapsed_toggle_icon"></a>
    <div id="comparison_sidebarcont_collapsed">
        <span class="comp_side_coll_text rotate90"><span>Summary</span> / <span>Search</span> / <span>Options</span></span>
    </div>
    <div id="comparison_sidebarcont_expanded" style="display: none;">
        <div class="comp_sidebar_wrapper" style="overflow: hidden;">
            <ul class="nav com_side_main nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#com_side_summary">Manage</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#com_side_search">Search</a>
                </li>
                <!--
                <li>
                    <a data-toggle="tab" href="#com_side_options">Options</a>
                </li>
                //-->
            </ul>

            <div class="tab-content com_side_main_cont" style="position:absolute; left:11px; right: 0; top:47px; bottom:-1px; overflow-x: hidden">
                <div class="tab-pane active" id="com_side_summary">
                    <div class="row">
                        <div class="span12">
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-mini" data-bind="click: acceptAllChanges" title="Accept all">
                                        <span class="comp_sidebar_icon icon3"></span>
                                    </button>
                                    <button class="btn btn-mini" data-bind="click: rejectAllChanges" title="Reject all">
                                        <span class="comp_sidebar_icon icon2"></span>
                                    </button>
                                    <button class="btn btn-mini" data-bind="click: resetAllChanges, enable: hasChangesForAccepting" title="Reset all">
                                        <span class="comp_sidebar_icon icon4"></span>
                                    </button>
                                </div>
                                <div class="btn-group" data-bind="visible: hasChangesForAccepting">
                                    <button class="btn btn-mini" data-bind="click: applyAllChanges" title="Apply all">
                                        <span class="comp_sidebar_icon icon1"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="nav com_side_summary_tabs nav-tabs">
                        <li class="active">
                            <label for="tab1">
                                <input type="radio" name="summary_tabs" value="com_side_summary_cat"><span>Category</span>
                            </label>
                        </li>
                        <li>
                            <label for="tab2">
                                <input type="radio" name="summary_tabs" value="com_side_summary_list"><span>List view</span>
                            </label>
                        </li>
                    </ul>
                    <div class="com_side_summary_cont">
                        <div class="tab-pane summary_pane" id="com_side_summary_cat">
                            <ul class="changes_type" data-bind="template: {name: 'widgets/diff-sublist', foreach: categorizedChanges }"></ul>
                            <!-- ko template: {name: 'summary'} -->
                            <!-- /ko -->
                        </div>
                        <div class="tab-pane summary_pane" id="com_side_summary_list">
                            <!-- ko with: data -->
                            <!-- ko template: {name: "changes-list", data: changes } -->
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- ko template: {name: 'summary'} -->
                            <!-- /ko -->
                        </div>
                        <!--
                        <div class="tab-pane summary_pane" id="com_side_summary_status">
                        <!-- ko with: data --
                        <!-- ko template: {name: "changes-list", data: changes } --
                        <!-- /ko --
                        <!-- /ko --
                        <!-- ko template: {name: 'summary'} --
                        <!-- /ko --
                        </div>
                                                -->
                    </div>
                </div>
                <div class="tab-pane" id="com_side_search" style="padding: 0 10px">
                    <div class="row">
                        <div class="span12">
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-mini" data-bind="click: acceptAllChanges" title="Accept all">
                                        <span class="comp_sidebar_icon icon3"></span>
                                    </button>
                                    <button class="btn btn-mini" data-bind="click: rejectAllChanges" title="Reject all">
                                        <span class="comp_sidebar_icon icon2"></span>
                                    </button>
                                    <button class="btn btn-mini" data-bind="click: resetAllChanges, enable: hasChangesForAccepting" title="Reset all">
                                        <span class="comp_sidebar_icon icon4"></span>
                                    </button>
                                </div>
                                <div class="btn-group" data-bind="visible: hasChangesForAccepting">
                                    <button class="btn btn-mini" data-bind="click: applyAllChanges" title="Apply all">
                                        <span class="comp_sidebar_icon icon1"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="com_search_wrapper">
                        <div class="input_wrapper">
                            <input class="searchfield_com" type="search" data-bind="value: searchFilter, valueUpdate: ['afterkeydown']">
                            <span class="x_icon search_x" data-bind="click: clearFilter, visible: searchFilter() != ''"></span>
                        </div>
                    </div>
                    <!-- ko template: {name: "changes-list", data: filteredChanges } -->
                    <!-- /ko -->
                    <!-- ko template: {name: 'summary'} -->
                    <!-- /ko -->
                </div>
                <!--
                    <div class="tab-pane" id="com_side_options" >
                        zxc
                    </div>
                    -->
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="summary">
    <div class="summary_total">
        <!-- ko with: data -->
        <div class="total">
            <p class="left"> <span>Total</span>:</p>
            <p class="right" data-bind="text: changes().length"></p>
            <p class="right" data-bind="visible: $parent.searchFilter() != ''"><span data-bind="text: $parent.filteredChanges().length"></span>&nbsp;/&nbsp;</p>
        </div>
        <!-- /ko -->
        <!-- ko if: hasChangesForAccepting -->
        <div class="agreed"><p class="left"> <span>Agreed</span>:</p> <p class="right" data-bind="text: acceptRejectCount().accept"></p></div>
        <div class="disagreed"><p class="left"> <span>Disagreed</span>:</p> <p class="right" data-bind="text: acceptRejectCount().reject"></p></div>
        <!-- /ko -->
    </div>
</script>

<script type="text/html" id="changes-list">
    <ul class="com_side_table search">
        <li class="header">
            <span class="col2"><p>Page</p></span>
            <span class="col4"><p>Changes</p></span>
            <span class="col5"><p></p></span>
        </li>
        <!-- ko foreach: $data -->
        <li data-bind="style: { fontWeight: active() ? 'bold' : 'normal', cursor: 'pointer' }, click: $root.diffNavigator.activateChange">
            <span class="col2"><p data-bind="text: page().Id">1</p></span>
            <span class="col4"><p>...</p><p class="change_text" data-bind="diffType: type, text: text"></p><p>...</p></span>
            <span class="col5" style="overflow: visible">
                <div class="dropdown" data-bind="dropdownButton: '.dropdown_menu'">
                    <a href="#" class="down_arrow dropdown_menu-button"></a>
                    <ul class="dropdown_menu dropdown-menu" style="display: none; top:10px; right:0; left: auto; text-align:left">
                        <li style="display: list-item"><a href="#" data-bind="click: accept"><span class="icon_approved" style="padding: 0 3px;"></span> <span>Approved</span></a></li>
                        <li style="display: list-item"><a href="#" data-bind="click: reject"><span class="icon_disapproved" style="padding: 0 3px;"></span> <span>Disagreed</span></a></li>
                        <li style="display: list-item"><a href="#" data-bind="click: reset"><span class="icon_reset" style="padding: 0 3px;"></span> <span>Reset</span></a></li>
                    </ul>
                </div>
            </span>
        </li>
        <!-- /ko -->
    </ul>
</script>