<li>
    <a href="#" class="changes_line_wrapper">
        <span class="small_pointer"></span>
        <p class="change_type_desc" data-bind="text: name"></p>
        <!-- ko with: data -->
        <p class="change_amount" data-bind="text: changes.length"></p>
        <!-- /ko -->
    </a>
    <ul class="change_sublist">
        <!-- ko with: data -->
        <!-- ko foreach: changes -->
        <li data-bind="style: { fontWeight: active() ? 'bold' : 'normal', cursor: 'pointer' }">
            <span class="sub_pointer"></span>
            <p data-bind="click: $root.diffNavigator.activateChange"><span class="icon_approved" data-bind="visible: isApproved"></span><span class="icon_disapproved" data-bind="visible: isRejected"></span><span>...</span><span class="change_text" data-bind="diffType: type, text: text"></span><span>...</span></p>
            <div class="dropdown" data-bind="dropdownButton: '.dropdown_menu'">
                <a href="#" class="down_arrow dropdown_menu-button"></a>
                <ul class="dropdown_menu dropdown-menu" style="display: none;">
                    <li><a href="#" data-bind="click: accept"><span class="icon_approved"></span> <span>Approved</span></a></li>
                    <li><a href="#" data-bind="click: reject"><span class="icon_disapproved"></span> <span>Disagreed</span></a></li>
                    <li><a href="#" data-bind="click: reset"><span class="icon_reset"></span> <span>Reset</span></a></li>
                </ul>
            </div>
        </li>
        <!-- /ko -->
        <!-- /ko -->
    </ul>
</li>