<div id="navigation-bar" class="left">
    <a class="new_head_tools_btn h_t_i_nav1 toolTip" data-placement="bottom" rel="tooltip" title="" href="#" data-bind="click: function () { selectPage(1); }" data-original-title="First page"> </a>
    <a class="new_head_tools_btn h_t_i_nav2 toolTip" data-placement="bottom" rel="tooltip" title="" href="#" data-bind="click: up" data-original-title="Previous page"> </a>
    <input class="new_head_input" type="text" style="width: 17px;" data-bind="value: pageInd, valueUpdate: ['afterkeydown'],  event: { keyup: onKeyPress }">
    <p class="new_head_of"><span>Of</span> <span data-bind ="text: pageCount()"></span></p>
    <a class="new_head_tools_btn h_t_i_nav3 toolTip" data-placement="bottom" rel="tooltip" title="" href="#" data-bind="click: down" data-original-title="Next page"> </a>
    <a class="new_head_tools_btn h_t_i_nav4 toolTip" data-placement="bottom" rel="tooltip" title="" href="#" data-bind="click: function () { selectPage(this.pageCount()); }" data-original-title="Last page"> </a>
</div>