<style type="text/css">
    div#pages-container{line-height: 0;}
    div.doc-page{display: block}
    .svg_doc_viewer {
        height:100%;
        overflow:hidden;
        top:100%
    }
</style>
<textarea readonly="readonly" rows="1" cols="1" id="selection-content" style="display:none"></textarea>

    <!-- ko stopBindings: true -->
    <div id="doc_viewer" class="doc_viewer" data-bind="event: { scroll: function (item, e) { this.ScrollDocView(item, e); }, scrollstop: function (item, e) { this.ScrollDocViewEnd(item, e); } }">
        <div id="pages-container" class="pages_container">
            <!-- ko foreach: pages -->
            <div class="doc-page center" data-bind="pageId: number, attr: { id: $parent.pagePrefix + number }, style: { width: $parent.pageWidth() + 'px' }">
                <div class="viewer_loading_overlay" data-bind="visible: $root.inprogress() || !visible()" style="width: 850px; height: 1100px;position: absolute;left:0;top:0">
                    <div class="loading_overlay_message">
                        <span class="progresspin"></span>
                        <p>Loading your content</p>
                    </div>
                </div>
                <div>
                    <div class="custom-pane">
                        <div id='change-markers' data-bind="with: $root.diffNavigator">
                            <!-- ko with: data -->
                            <!-- ko foreach: changesForPage($parentContext.$parent.number) -->
                            <div data-bind="style: { top: top() + 'px', left: left() + 'px', height: height() + 'px', width: width() + 'px' },
    attr: { id: 'change-id-' + id(), title: type() + ': ' + text() },
    diffMarker: active, container: '.doc_viewer'" class='redline-change-marker active-change-marker'></div>
                            <!-- /ko -->
                            <!-- /ko -->
                        </div>

                    </div>
                    <img class="page-image" data-bind="attr: { id: 'img-' + number, src: (visible() ? url : '') }, style: { width: $parent.pageWidth() + 'px' }" />
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
