@using GroupDocsComparisonMvcDemo
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Html.CreateComparisonStylesLoadBlock()
</head>
<body>
    @RenderBody()

    @Html.CreateComparisonScriptsLoadBlock()
</body>
</html>
