@using GroupDocsComparisonMvcDemo
<div id="comparison-wrapper"></div>

@(Html
    .Compare("#comparison-wrapper")

    //.SourceFileName("source.xlsx")
        //.TargetFileName("target.xlsx")
        //.ResultFileName("Redline")

   .SourceFileName("Source.docx")
    .TargetFileName("Target.docx")
    .ResultFileName("myOutput.docx")

   /*
   // for protected files, aurguments as (FileName, FilePassword)
       .SourceFileName("SourceProtected.docx", "secret")
    .TargetFileName("TargetProtected.docx", "secret")
    .ResultFileName("myOutputFromProtected.docx")*/

/*    .SourceFileName("SourceWith3PagesFirstIs1.pdf")
        .TargetFileName("TargetWith3PagesFirstIs1.pdf")
        .ResultFileName("Redline.pdf")*/

    /*        .SourceFileName("1.doc")
            .TargetFileName("2.doc")
            .ResultFileName("Redline.doc")*/

    /*        .SourceFileName("source.html")
            .TargetFileName("target.html")
            .ResultFileName("Redline.html")*/

    /*    .SourceFileName("source.txt")
        .TargetFileName("target.txt")
        .ResultFileName("Redline.txt")*/

    /*    .SourceFileName("source.xml")
        .TargetFileName("target.xml")
        .ResultFileName("Redline.xml")*/

    /*        .SourceFileName("source.docx")
            .TargetFileName("target.docx")
            .ResultFileName("Redline")*/

    /*    .SourceFileName("source.pptx")
        .TargetFileName("target.pptx")
        .ResultFileName("Redline.pptx")*/

    .ImmediateCompare())